<!-- I commented this out since it's causing endless loading which prevents the user to interact witht the app.
 I'll deal with it in the next commit. -->
<!-- <ng-container *ngIf="loadingPosts || loadingRatings; else loaded">
  <app-loading-spinner />
</ng-container> -->

<div class="frontPageBar">
  <!-- New Post Button -->
  <div>
    @if(canAddPost) {
    <button class="greenButton" (click)="openDialog()">New post</button>
    }
  </div>

  <!-- Filtering & Sorting -->
  <div class="filterAndSort">
    <!-- Filtering -->
    @if(route !== 'profile') {
    <div class="buttonGroup">
      <button class="iconButton" matTooltip="Filter posts">
        <span class="material-symbols-outlined"> filter_alt </span>
      </button>
      <button (click)="setFilter()" [class.buttonSelected]="filter === ''">Public</button>
      <button (click)="setFilter('following')" [class.buttonSelected]="filter === 'following'">
        Following
      </button>
    </div>

    <div class="divider"></div>
    }

    <!-- Sorting -->
    <div class="buttonGroup">
      <button class="iconButton" matTooltip="Sort posts">
        <span class="material-symbols-outlined"> swap_vert </span>
      </button>
      <button (click)="setSortKey('date')" [class.buttonSelected]="sortKey === 'date'">New</button>
      <button (click)="setSortKey('rating')" [class.buttonSelected]="sortKey === 'rating'">
        Popular
      </button>
    </div>
  </div>
</div>

<!-- POSTS -->
@for(post of posts() | sortPosts: sortKey; track post.PostID) {
<app-post
  [post]="post"
  [userRating]="ratingsMap().get(post.PostID) ?? 0"
  (postUpdated)="refetchPosts()"
/>
}
