<div class="modal form">
  <form [formGroup]="postFormGroup" (ngSubmit)="onSubmit()">
    <h1>{{ data.type === 'create' ? 'New post' : 'Edit Post' }}</h1>
    <div>
      <div class="label">
        <label for="content">Content</label>
      </div>
      <div class="inputWrapper" [class.error]="content?.invalid && submitted">
        <textarea formControlName="content"></textarea>
        <div class="charCounter">{{ content?.value?.length }}/281</div>
      </div>
    </div>
    <div>
      <div class="label"><label for="visibility">Visibility</label></div>
      <select formControlName="visibility">
        <option value="public">Public</option>
        <option value="followers">Followers</option>
        <option value="private">Private</option>
      </select>
    </div>
    <button type="submit" class="greenButton">Save</button>
  </form>
</div>
