<div class="section post">
  <div class="flexHorizontal postTopBar">
    <div class="postTopBarLeft">
      <a [routerLink]="['/profile', post.UserID]" class="postLink">{{ post.Username }}</a>
      <div [style.margin-left]="post.Username ? '0.5em' : null">{{ post.Visibility }}</div>
    </div>

    <div class="postDateDiv">
      <div class="postDate">{{ post.DateOfPosting | formatDatePost }}</div>
    </div>
  </div>

  <div class="postContent">{{ post.Content }}</div>

  <div class="flexHorizontal">
    <div class="ratingsAndComments">
      <div class="postIcon transition" (click)="pressLike()">
        <span
          class="material-symbols-outlined"
          [style.color]="userPostRating() === 1 ? 'var(--primary-color)' : 'inherit'"
        >
          thumb_up
        </span>
      </div>

      <div>{{ postRating }}</div>

      <div class="postIcon transition" (click)="pressDislike()">
        <span
          class="material-symbols-outlined"
          [style.color]="userPostRating() === -1 ? 'var(--secondary-color)' : 'inherit'"
        >
          thumb_down
        </span>
      </div>
    </div>

    <div>
      <app-comments [initialNumberOfComments]="post.Comments" [postId]="post.PostID">
      </app-comments>
    </div>
  </div>
</div>

<!-- <div>{{ post.Content }}</div> -->
