.modal {
    width: 25em;
    overflow: hidden;
}
.modal > div {
    padding: 0;
}
.modal:focus {
    outline: none;
}
.commentForm form {
    background-color: var(--background-darker);
    display: flex;
    gap: 0.5em;
    padding: 0.5em;
    flex-direction: row;
    justify-content: space-between;
}

.commentForm input {
    width: 100%;
    border-color: var(--text-darker);
}
.commentForm input:focus {
    border-color: var(--primary-color);
}

.comments {
    overflow-y: auto;
    max-height: 20em;
    min-width: 20em;
    max-width: 30em;
}
.comments > div {
    padding: var(--button-padding);
}
.comments > div:nth-child(odd) {
    background-color: var(--background);
}

.postLink {
    color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.postLink:hover {
    text-decoration: underline;
}

.postDateDiv {
    position: relative;
    min-width: 50%;
}
.postDate {
    color: var(--text-darker);
    z-index: 1;
}
.editPostButton {
    padding: 2px 0.7em;
    opacity: 0;
    z-index: 2;
    gap: 0.3em;
}
.editPostButton svg {
    transform: scale(0.9);
}
.postDate,
.editPostButton {
    position: absolute;
    right: 0;
    transition: var(--transition);
}
.post:hover .editPostButtonDiv .postDate {
    opacity: 0;
    transition: var(--transition);
}
.post:hover .editPostButton {
    opacity: 1;
    transition: var(--transition);
}

.post + .flexHorizontal {
    min-height: 1em;
}
.postContent {
    margin: 0.8em 0;
    border-radius: var(--border-radius);
    padding: 1em;
    background-color: var(--background-darker);
}
.ratingButtons {
    display: flex;
    justify-content: left;
    gap: 1em;
}

.postTopBar {
    user-select: none;
}

.postTopBarLeft {
    display: flex;
    justify-content: left;
}

.postTopBarLeft div {
    color: var(--text-darker);
}
