.modal {
  width: 25em;
  overflow: hidden;
}
.modal > div {
  padding: 0;
}
.modal:focus {
  outline: none;
}

.postLink {
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
.postLink:hover {
  text-decoration: underline;
}

.postDateDiv {
  position: relative;
  min-width: 50%;
}
.postDate {
  color: var(--text-darker);
  z-index: 1;
}
.editPostButton {
  padding: 2px 0.7em;
  opacity: 0;
  z-index: 2;
  gap: 0.3em;
}
.editPostButton svg {
  transform: scale(0.9);
}
.postDate,
.editPostButton {
  position: absolute;
  right: 0;
  transition: var(--transition);
}
.post:hover .editPostButtonDiv .postDate {
  opacity: 0;
  transition: var(--transition);
}
.post:hover .editPostButton {
  opacity: 1;
  transition: var(--transition);
}

.post + .flexHorizontal {
  min-height: 1em;
}
.postContent {
  margin: 0.8em 0;
  border-radius: var(--border-radius);
  padding: 1em;
  background-color: var(--background-darker);
}
.ratingsAndComments {
  user-select: none;
  display: flex;
  flex-direction: row;
  gap: 0.7em;
}

.postTopBar {
  user-select: none;
}

.postTopBarLeft {
  display: flex;
  justify-content: left;
}

.postTopBarLeft div {
  color: var(--text-darker);
}

/* POST ICONS */
.postIcon {
  color: var(--text);
  transform: scale(0.8);
}

.postIcon:hover {
  cursor: pointer;
  transform: scale(0.9);
}
.postIcon:active {
  transform: scale(0.8);
}
