.modal {
  background-color: var(--background-darker);
}

.commentForm form {
  background-color: var(--background-darker);
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.commentForm .inputWrapper {
  width: 100%;
}
.inputWrapper input {
  padding: var(--button-padding);
  background-color: var(--background);
}
.commentForm input:focus {
  border-color: var(--primary-color);
}

.comments {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  overflow-y: auto;
  max-height: 20em;
  min-width: 20em;
  max-width: 30em;
}
.comments > div {
  padding: var(--button-padding);
}
.comments > div:nth-child(odd) {
  background: var(--background) !important;
}

.commentContent {
  color: var(--text);
  font-style: italic;
  margin: 0.5em 0;
}

.editIcon {
  transform: scale(1.5) translateX(1px) translateY(0.5px);
}
