<div class="modal">
  <div class="comments">
    @if(!comments().length) {
    <div style="color: var(--text-darker)">No comments</div>
    } @else { @for(comment of comments(); let i = $index; track i) {
    <div>
      <div class="postLink" (click)="visitProfile(comment.id)">{{ comment.Username }}</div>
      <div class="commentContent">{{ comment.Content }}</div>
    </div>
    } }
  </div>
  <div class="commentForm">
    <form [formGroup]="commentGroup" (ngSubmit)="submitComment()">
      <div class="inputWrapper" [class.error]="content?.invalid && submitted">
        <input type="text" formControlName="content" placeholder="Comment" />
        <span class="inputErrorMessage">Comment needs to have between 1 and 256 characters</span>
      </div>
      <button type="submit" class="greenButton">Submit</button>
    </form>
  </div>
</div>
