.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    bottom: 110%;
    left: 15%;
    margin-left: -100px;
    background-color: var(--background-darker);
    text-align: center;
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    opacity: 0;
    transition: opacity var(--transition);
    color: var(--text-darker);
    font-size: 0.9em;

    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext::after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 75%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--background-darker) transparent transparent transparent;
}
