<!-- src/app/profile/inbox/inbox.component.html -->
<ng-container *ngIf="isLoading; else listBlock">
  <app-loading-spinner></app-loading-spinner>
</ng-container>

<ng-template #listBlock>
  <ng-container *ngFor="let chat of chats">
    <div class="section chat-row" (click)="openChat(chat)" style="cursor: pointer;">
      <div style="display:flex; justify-content:space-between;">
        <a [routerLink]="['/profile', (chat.idUser1 === userId ? chat.idUser2 : chat.idUser1)]" class="postLink">
          {{ chat.username1 === username ? chat.username2 : chat.username1 }}
        </a>
        <div style="color: var(--text-darker)">{{ formatDate(chat.TMS) }}</div>
      </div>
      <div style="margin-top: 0.5em;">{{ chat.Content }}</div>
    </div>
  </ng-container>
</ng-template>