.form {
  margin: 0 !important;
  padding: 0 !important;
}
.authForm {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.inputWrapper {
  width: 100%;
}
.authForm input {
  width: 100%;
  padding: var(--button-padding);
}
