<!-- src/app/profile/chat-page/chat-page.component.html -->
<div class="chat">
  <a class="postLink username" (click)="openProfile()">{{ username }}</a>

  <ng-container *ngIf="isLoading; else messagesBlock">
    <app-loading-spinner></app-loading-spinner>
  </ng-container>

  <ng-template #messagesBlock>
    <div class="messages" #messagesContainer>
      <div *ngFor="let message of messages" [ngClass]="{'message': true, 'messageSelf': message.idSender === (auth.user()?.id)}">
        <div class="messageContent">
          {{ message.Content }}
          <div style="color: var(--text-darker)">{{ formatDate(message.TimeOfMessage) }}</div>
        </div>
      </div>
    </div>
  </ng-template>

  <div class="chatBottom">
    <app-horizontal-divider [margin]="'1em'" [color]="'var(--text-darker)'" [style]="{ width: '100%' }"></app-horizontal-divider>

    <form [formGroup]="form" (ngSubmit)="sendMessage()">
      <div style="width: 100%; display:flex; justify-content:space-between; gap:1em;">
        <input formControlName="content" type="text" placeholder="Message" style="padding: var(--button-padding); width: 100%;" />
        <button class="greenButton" type="submit"><mat-icon>send</mat-icon></button>
      </div>
    </form>
  </div>
</div>