nav {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 3px solid var(--primary-color);
  margin-top: 2em;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  width: 100%;
  font-size: 1.7em;
  line-height: 2em;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;

  transition: var(--transition);
}
a:hover {
  cursor: pointer;
  color: var(--primary-color);
  border-bottom-color: var(--primary-color);
  transition: var(--transition);
}

@media (max-width: 1000px) {
  a {
    font-size: 1.5em;
  }
}
.icon {
  font-size: 0.8em;
  margin-right: 0.5em;
}

.activePage {
  border-bottom-color: var(--primary-color);
}
