<div class="section profileInfoSection">
  <div class="profilePicture"></div>
  <div class="userInfo">
    <h2>{{ user().username }}</h2>
    <div style="font-weight: bold">{{ user().name }} {{ user().surname }}</div>
    <div>
      <span style="color: var(--text-darker)">Date of birth:</span>
      {{ user().dateOfBirth | formatDateProfile }}
    </div>
    <div class="followersInfo buttonGroup">
      <button (click)="openDialog('followers')">
        Followers:&nbsp;<span style="font-weight: bold">{{ followersNumber() }}</span>
      </button>
      <button (click)="openDialog('following')">
        Following:&nbsp;<span style="font-weight: bold">{{ followingNumber() }}</span>
      </button>
    </div>
  </div>
  <div class="profileEditOrFollow">
    @if(isCurrentUserProfile){
    <button class="greenButton">
      Edit Profile <span class="material-symbols-outlined editIcon"> edit </span>
    </button>
    }@else if(isFollowing()){
    <button (click)="unfollow()" class="unfollowButton">Unfollow</button>
    }@else{
    <button (click)="follow()" class="greenButton">Follow</button>
    }
  </div>
</div>
