<div class="profile section">

  <div class="profileHeader">

    <!-- Username or edit mode -->
    <ng-container *ngIf="editing; else viewUsername">
      <form>
        <input class="editUsernameInput"
               [formControl]="usernameControl">

        <span class="confirmButton" (click)="saveUsername()">✔</span>
        <span class="cancelButton" (click)="editing = false">✖</span>
      </form>
    </ng-container>

    <ng-template #viewUsername>
      <h1>
        {{ user.Username}}
        <mat-icon *ngIf="isLoggedUser" (click)="editing = true">edit</mat-icon>
      </h1>
    </ng-template>

    <!-- Followers / following -->
    <div class="followersBar">
      <button (click)="openFollowers()">{{ followers.length }} followers</button>
      <button (click)="openFollowing()">{{ following.length }} following</button>
    </div>

  </div>

  <!-- Actions -->
  <div *ngIf="!isLoggedUser" class="flexHorizontal">
    <button class="darkerButton" (click)="messageUser()">
        Message user
        <mat-icon class="chatIcon">chat</mat-icon>
    </button>

    <button (click)="toggleFollow()" [ngClass]="followingStatus ? 'greenButtonTrans' : 'greenButton'">
      {{ followingStatus ? 'Unfollow' : 'Follow' }}
    </button>
  </div>

  <!-- User info table -->
  <div class="userInfo">
    <div>First name:</div>
    <div>{{ user.Name }}</div>

    <div>Last name:</div>
    <div>{{ user.Surname }}</div>

    <div>Date of birth:</div>
    <div>{{ user.DateOfBirth | date:'yyyy-MM-dd' }}</div>
  </div>

</div>
