<div class="section profileInfoSection">
  <!-- Profile picture -->
  <div class="profilePicture">
    <img [src]="profileImagePath()" alt="Profile Picture" />
    @if (isCurrentUserProfile) {
      <div class="changeImageOverlay" (click)="changeProfileImage()">
        <span class="material-symbols-outlined"> replace_image </span>
      </div>
    }
  </div>

  <!-- User info -->
  <div class="userInfo">
    <h2>{{ user().username }}</h2>
    <div style="font-weight: bold">{{ user().name }} {{ user().surname }}</div>
    <div>
      <span style="color: var(--text-darker)">Date of birth:</span>
      {{ user().dateOfBirth | formatDateProfile }}
    </div>
    <div class="followersInfo buttonGroup">
      <button (click)="openUsersList('followers')">
        Followers:&nbsp;<span style="font-weight: bold">{{ followersNumber() }}</span>
      </button>
      <button (click)="openUsersList('following')">
        Following:&nbsp;<span style="font-weight: bold">{{ followingNumber() }}</span>
      </button>
    </div>
  </div>

  <!-- Edit profile or Follow/Unfollow buttons -->
  <div class="profileEditOrFollow">
    @if (isCurrentUserProfile) {
      <button class="greenButton" (click)="editProfile()">
        Edit Profile <span class="material-symbols-outlined editIcon"> edit </span>
      </button>
    } @else if (isFollowing()) {
      <button (click)="unfollow()" class="unfollowButton">Unfollow</button>
    } @else {
      <button (click)="follow()" class="greenButton">Follow</button>
    }
  </div>
</div>
